{% extends "layout.html" %}

{% block title %}
HOME
{% endblock %}

{% block body %}


<div id="home">
  <br><h1 style="color: rgb(70, 23, 143);" class="text-slate-900 font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center">CQUIZZ WORLD</h1>
  <p class="mt-6 text-lg text-dark text-center max-w-3xl mx-auto dark:text-dark">Dare to try to test your knowledge? This is the right place! <br> Welcome to our very new beta version packed with<!-- --> <code class="font-mono font-medium text-blue-800 dark:text-blue-800">Sciencie</code>,<!-- --> <code class="font-mono font-medium text-blue-800 dark:text-blue-800">Music</code>,<!-- --> <code class="font-mono font-medium text-blue-800 dark:text-blue-800">Food</code> <!-- -->and<!-- --> <code class="font-mono font-medium text-blue-800 dark:text-blue-800">lots of fun!</code><br> <!-- -->Come and join us</p><br>
<img id="img" src="/static/maya.png" alt="" srcset="">
<a href="/quizzes"><button  style="background-color: rgb(70, 23, 143);" class="flex mx-auto mt-16 text-white border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Let's get started</button></a> 

</div><br><br><br>
{% endblock %}