{% extends "layout.html" %} {% block title %} HOME {% endblock %} {% block body %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% for i in test %}

<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{{i.imagen}}">
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">{{i.categoria}}</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{i.nombre}}</h1>
         <br> <p class="leading-relaxed">{{i.descripcion}}</p>
            <a href="/play/{{i.id}}"><button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Play</button></a>
            <form action="/reviews/{{i.id}}" method="post">
            <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
              <div class="flex ml-6 items-center">
                <div class="relative">
                  <ul class="flex justify-center">
                    <span class="mr-3">Rate</span>
                    <select name="rating" class="rounded border appearance-none border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base pl-3 pr-10">
                      <option value=1>⭐</option>
                      <option value=2>⭐⭐</option>
                      <option value=3>⭐⭐⭐</option>
                      <option value=4>⭐⭐⭐⭐</option>
                      <option value=5>⭐⭐⭐⭐⭐</option>
                    </select>
                  </ul>
                  </div>
                </div>
              </div>
          </div>
          <div style="margin-top: 35px ;" class="flex">
            <span class="title-font font-medium text-2xl text-gray-900">Leave a review</span>
            
            <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
              </svg>
            </button>
            
          </div>
          
          <div class="p-2 w-full">
            <div class="relative">
              <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
              <textarea id="comentario" name="comentario" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
            </div>
          </div>
          <button id="submitreview" type="submit" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Done</button>
        </div>
      </div>
    </div>
  </form>
  </section>
      <section class="text-gray-600 body-font">
      </div>
        <div class="container px-5 py-24 mx-auto">
          <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Comments</h1>
          {% for i in reseñas %}
          <div id="modaltext" class="w3-modal">
            <div class="w3-modal-content w3-animate-top w3-card-4">
              <header class="w3-container w3-teal bg-gray-200"> 
                <span onclick="document.getElementById('modaltext').style.display='none'" 
                class="w3-button w3-display-topright">&times;</span>
                <h2>CQUIZZ</h2>
              </header>
              <div class="w3-container">
                <form action="/edit/{{id}}{{id_test}}", method="post">
                  <br><br><input label="Edit your comment" name="editcoment" type="text"><br><br>
                </form>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="p-4 md:w-1/2 w-full">
              <div class="h-full bg-blue-100 p-8 rounded">
                <a href="/remove/{{idcomentario}}{{id}}"><p style="float: right;" class="text-blue-800 w3-button">Remove</p></a>
                <p onclick="document.getElementById('modaltext').style.display='block'" style="float: right; margin-right: 15px;" class="text-blue-800 w3-button">Edit    </p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
                  <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
                </svg>
                <p class="leading-relaxed mb-6">{{i.comentario}}</p>
        
                <a class="inline-flex items-center">
                  <span class="flex-grow flex flex-col pl-4">
                    <span class="title-font font-medium text-gray-900">{{i.usuario}}</span>
                    <span class="text-gray-500 text-sm">{{i.rating}} ⭐ Stars</span>

                  </span>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
          {% if not reseñas %}
         <br><center><h1 style="font-size: 18px;">There's no comments on this test yet</h1></center> 
          {% endif %}
        </div>
      </section>
  {% endfor %}
{% endblock %}